
                                                  /* basic page layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Color Theme Swatches in Hex */
.color_out_of_space_poster-1-hex { color: #0D0005; }
.color_out_of_space_poster-2-hex { color: #590332; }
.color_out_of_space_poster-3-hex { color: #26011C; }
.color_out_of_space_poster-4-hex { color: #26402F; }
.color_out_of_space_poster-5-hex { color: #F2F2F2; }
/* also lightpink */


html {
  overflow-x: hidden;
  font-family: 'Old Standard TT', serif;
}

body {
  background-color: black;
  /* width: 1280px;
  height: 720px; */
}

.page-wrap {
  width: 70%;
  margin: auto;
  /* padding: 10vh; */
  position: relative;
  /* border: 1px solid red; */
  background-color: lightpink;
}

.panel {
  /* border: 1px dotted green; */
  width: auto;
  height: 100vh;
  /* width: 900;
  height: 720; */
  /* display: flex;
  justify-content: center; */
}


.txt {
  font-size: 5vw;

}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vw;
  width: 10vw;
  height: auto;
  background-color: white;
  border-bottom: 2px solid black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

a:visited {
  color: black;
}

a:hover {
  font-size: 4vh;
}

                        /* specific panels, including their ids with words, illustrations, and decorations */

                                                            /* panel 1 */

#panel1 {
  padding: 5vh;

  animation-name: panel1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#txt-inthe {
  transform: skewY(5deg);
  color: #F2F2F2;

}


#god1 {
  width: 65vw;
  position: relative;
  bottom: 125vh;
  left: 12vw;
  filter: drop-shadow(10px 1px 6px #292525);

  animation-name: god1;
  animation-duration: .1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#splash1 {
  position: relative;
  width: 70vw;
  height: 50vh;
  opacity: .3;
  bottom: 60vh;
}


@keyframes god1 {
  from {width: 65vw;}
  to {width: 65.1vw;}
}

@keyframes panel1 {
  from {padding: 5vh;}
  to {padding: 5.1vh;}
}


                                                            /* panel 2 */

#panel2 {
  background-image: url("media/background_panel2.png");
  background-size: cover;
}

#txt-hemade {
  font-size: 2vw;
  line-height: 10vh;
  color: white;

}

#blackstrip {

}

#txt-arc {
  position: relative;
  left: 30vw;
  bottom: 40vh;
}

#txt-hecalled {
  position: relative;
  font-size: 1vw;
  /* top: 30vh; */
  bottom: 30vh;

}


                                                                /* panel 3 */

#panel3 {
  background-color: white;
  padding: 2vw;
}

#txt-godmade {
  font-size: 3vw;
  color: #26402F;
  text-align: center;
}


                                                                  /* panel4 */

#panel4 {
  background-color: black;
  /* background-image: url("media/man_angel_god.png");
  background-size: contain;
  background-repeat: no-repeat; */
  padding: 5vw;
}

#txt-hedecided {
  color: white;
  font-size: 2vw;
  font-style: italic;
  padding: 2vw;
}

                                                        /* panel 5 */

#panel5 {
  padding: 1vw;
  background:
    radial-gradient(white 3px, transparent 4px),
    radial-gradient(white 3px, transparent 4px),
    linear-gradient(lightpink 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #590332 75px, #590332 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #590332 76px, #590332 77px, transparent 78px, transparent 109px),
    lightpink;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;

}

#txt-thenon {
  font-size: 3vw;
  position: relative;
  bottom: 41vh;
  left: 3vw;
}

                                                                    /* panel 6 */

#panel6 {
  background:
linear-gradient(135deg, lightpink 25%, transparent 25%) -50px 0,
linear-gradient(225deg, lightpink 25%, transparent 25%) -50px 0,
linear-gradient(315deg, lightpink 25%, transparent 25%),
linear-gradient(45deg, lightpink 25%, transparent 25%);
background-size: 2em 2em;
background-color: #f8bdc6;
}

#txt-suddenly {
  position: relative;
  text-align: center;
  font-size: 5vw;
  top: 10vh;
  margin: 2vh;
  color: black;
}

#grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  padding: 5vw;
}

.panel6img {
  border: 2px solid black;
  position: relative;
  top: 10vh;
  height: 30vh;
  /* transform: rotate(-2deg); */
  filter: drop-shadow(50px 20px 30px black);

}

#total {

  animation-name: panel6img;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#special6 {
  animation-name: panel6special;
  animation-duration: .01s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes panel6img {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes panel6special {
  from {height: 30vh; transform: scale(1);}
  to {height: 30.5vh; transform: scale(1.1);}

}

/* panel 7 */

#panel7 {

}

#txt-godsat {

}
